@import "variables";
@import "mixins";

* {
  margin: 0px;
  padding: 0px;
 
}
.lista{
  border-radius: 20px;
}

.butt-Imag{
  border: 0;
    border-radius: $border-radius;  
  }  
  .butt-Imag:focus{
    outline: none;
  }
  .img-fluid{
    border-radius: $border-radius;
    width: $width-image;
    border-radius: 20px;
   /*  background: red; */
  
  }