@import "mixins";
@import "variables";
header{
  .nb{
    background: white;
    .formwidth{
      width: 970px;
      .isearch{
        width: 850px;
        height: 48px;
        border-radius: 30px;
        border-color: $colorInputSearch;
        color: #333;
        background-color: $colorInputSearch;
        font-size: 16px;
        font-weight: normal;
        outline: none;
      }
    }
  }
  
}

body {
 
    /* background: green; */
    .container{
      @include contenedor;
      .my-masonry-grid {
        @include mmgrid;
      }
      .my-masonry-grid_column {
        @include mmgridcolumn;
      }
       
      /* Style your items */
      .my-masonry-grid_column > li { /* change div to reference your elements you put in <Masonry> */
       @include mmgridcolumn-li;
      }
     
    }
}

 
 